html,body {
	background-color: #fff;
	font-family: 'Nunito', sans-serif;
}


.margins-boxs-tb {
	margin-top: 2%;
	margin-bottom: 2%;
}

.margins-boxs-lr {
	margin-left: 2%;
	margin-right: 2%;
}

.mensajes {
	margin-top:2%;
	margin-bottom: 2%;
}

.menu {
	//height: 100%;
	margin-left: 2%;
	background-color: #CAEBFF;
}

a {
	color:#000000;
}